<!DOCTYPE html>
<html lang="en" data-theme="night">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiratama Abisatya</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body class="h-screen flex flex-col">
    <!-- Content -->
    <main class="flex-grow flex flex-col items-center">
        <!-- Hero Section -->
        <div class="flex-grow flex items-center justify-center text-center">
            <div class="max-w-4xl w-full"> <!-- Increased max-width -->
                <!-- Real Navigation Bar -->
                <nav class="flex justify-center space-x-2 mb-2 pt-4">
                    <a href="{{ url_for('index') }}" class="w-24 py-1 text-xs leading-6 tracking-widest border border-gray-300 rounded-full dark:hover:border-sky-500 dark:border-white focus:outline-none hover:text-sky-600 hover:border-sky-600 dark:hover:text-sky-500">About</a>
                    <a href="{{ url_for('resume') }}" class="w-24 py-1 text-xs leading-6 tracking-widest border border-gray-300 rounded-full dark:hover:border-sky-500 dark:border-white focus:outline-none hover:text-sky-600 hover:border-sky-600 dark:hover:text-sky-500">Resume</a>
                    <a href="{{ url_for('projects') }}" class="w-24 py-1 text-xs leading-6 tracking-widest border border-gray-300 rounded-full dark:hover:border-sky-500 dark:border-white focus:outline-none hover:text-sky-600 hover:border-sky-600 dark:hover:text-sky-500">Projects</a>
                </nav>
                <!-- Content Block -->
                {% block content %}
                {% endblock %}
                <!-- Footer -->
                <footer class="flex justify-center space-x-4 mb-4 mt-8">
                    {% for social in resume.social_links %}
                    <a href="{{ social.url }}" class="text-gray-400 hover:text-blue-600 dark:hover:text-blue-400">
                        <i class="{{ social.icon }} text-2xl"></i>
                    </a>
                    {% endfor %}
                </footer>
            </div>
        </div>
    </main>
</body>
</html>
