{% extends 'base.html' %}

{% block content %}
    <!-- Content -->
    <!-- Divider -->
    <div class="divider my-2"></div>
    <!-- Centered Image -->
    <div class="flex justify-center p-2 mb-4">
        <img class="mask mask-squircle" src="https://img.daisyui.com/images/stock/photo-1567653418876-5bb0e566e1c2.webp" alt="Centered Image" />
    </div>
    <h1 class="text-5xl font-semibold mb-4">{{resume.name}}</h1>

     <h2 class="text-lg tracking-widest text-center">{{resume.title}}</h2>
    <!-- Divider -->
    <div class="divider my-2"></div>
{% endblock %}
