{% extends 'base.html' %}

{% block content %}
    <!-- Content -->
    <!-- Divider -->
    <div class="divider my-2"></div>
    <!-- Centered Image -->
    <div class="flex justify-center p-2 mb-4">
        <img class="mask mask-squircle" src="https://i.ibb.co.com/Z2K8gmw/DSC-2573-2-2.jpg" alt="DSC-2573-2-2" alt="Centered Image" />
        
    </div>
    <h1 class="text-5xl font-semibold mb-4">{{resume.name}}</h1>

     <h2 class="text-lg tracking-widest text-center">{{resume.title}}</h2>
    <!-- Divider -->
    <div class="divider my-2"></div>
{% endblock %}
