<!DOCTYPE html>
<html lang="en" data-theme="luxury">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiratama Abisatya</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body class="h-screen flex flex-col">
    <!-- Header (blank) -->
    <header class="flex-grow-10"></header>

    <!-- Content -->
    <main class="flex-grow flex flex-col items-center">


        <!-- Hero Section -->
        <div class="flex-grow flex items-center justify-center text-center">
            <div class="max-w-md">
                <!-- Real Navigation Bar -->
                <nav class="flex justify-center space-x-2 mb-2 pt-4">
                    <a href="#summary" class="w-24 py-1 text-xs leading-6 tracking-widest border border-gray-300 rounded-full">About</a>
                    <a href="#resume" class="w-24 py-1 text-xs leading-6 tracking-widest border border-gray-300 rounded-full">Resume</a>
                    <a href="#projects" class="w-24 py-1 text-xs leading-6 tracking-widest border border-gray-300 rounded-full">Projects</a>
                </nav>

                <!-- Divider -->
                <div class="divider my-2"></div>
                <!-- Centered Image -->
                <div class="flex justify-center mb-4">
                    <img class="mask mask-squircle" src="https://img.daisyui.com/images/stock/photo-1567653418876-5bb0e566e1c2.webp" alt="Centered Image" />
                </div>
                <h1 class="text-5xl font-bold mb-4">Hello there</h1>
                <p class="py-6 mb-4">
                    Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                    quasi. In deleniti eaque aut repudiandae et a id nisi.
                </p>
                <button class="btn btn-primary">Get Started</button>
                <!-- Divider -->
                <div class="divider my-2"></div>
                <!-- Real Footer -->
                <footer class="flex justify-center space-x-4 mb-4">
                    <a href="https://github.com/abisatyaw" class="text-gray-400 hover:text-blue-600 dark:hover:text-blue-400">
                        <i class="fab fa-github text-2xl"></i>
                    </a>
                    <a href="https://x.com/Aaskaft" class="text-gray-400 hover:text-blue-600 dark:hover:text-blue-400">
                        <i class="fab fa-x-twitter text-2xl"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/abisatya/" class="text-gray-400 hover:text-blue-600 dark:hover:text-blue-400">
                        <i class="fab fa-linkedin text-2xl"></i>
                    </a>
                    <a href="mailto:abisatya90@gmail.com" class="text-gray-400 hover:text-blue-600 dark:hover:text-blue-400">
                        <i class="fas fa-envelope text-2xl"></i>
                    </a>
                </footer>
            </div>
        </div>
    </main>

    <!-- Footer (blank) -->
    <footer class="flex-grow-0"></footer>
</body>
</html>
